.head{
    display: flex;
    align-items: center;
    gap:1.5em;
    padding: 0 1em;
    background-color: black;
    position:fixed;
    z-index: 3;
    width: 100%;
    /*border-bottom: .5px solid gray;*/
}

.head-title p{
    color:white;
    font-weight:bold;
}
.head-explore{
    margin-left: auto;
    margin-right: 1.5em;
}