.login-head{
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.login-head-close{
    font-size: .9em;
    opacity: .8;
    font-weight: bolder;
    position: absolute;
    top:1em;
    left:1.4em;
}
.login-head-logo{
    font-size: 1.8em;
    opacity: .9;
}

.login-body{
    height: 80vh;
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-body h1{
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.login-google{
    display: flex;
    border-radius: 30px;
    padding:.5em 0;
    color:black;
    background-color: white;
    gap:.5em;
    align-items: center;
    justify-content:center;
    margin: auto;
    width: 100%;
}
.login-google{
    font-size: .9em;
}
.login-google-logo, .login-google img{
    width:1.5em;
    height: 1.5em;
}
.login-signup{
    color:gray;
    font-size: .9em;
    font-weight: bold;
    margin-top: 3em;
}
.login-signup a{
    color:#1DA1F2;
    font-weight: bold;
}