.notification-container{
    position: fixed;
    width: 100%;
    padding:1em;
    color:white;
    font-size: .9em;
    bottom: calc(2.5vh + 2em);
    display: flex;
    z-index: 4;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1DA1F2;
    font-weight: bold;
}
.notification-container .link{
    font-weight: bold;
}